{
  "mcpServers": {
    "news-tok": {
      "type": "stdio",
      "command": "node",
      "args": ["./packages/mcp-server/dist/index.js"],
      "env": {
        "PEXELS_API_KEY": "",
        "PIXABAY_API_KEY": "",
        "UNSPLASH_ACCESS_KEY": ""
      }
    }
  }
}
